<!doctype html>
<head>
    <%- include('template/head') %>
</head>
<html>

<%- include('template/navbar') %>
<div class="container mt-5">


<div class="card border-light mb-3 mt-5 complete-card">
    <div class="card-body">
        <h2 class="card-title text-primary"> <%= article.title %></h2>
        <p><%= article.createdAt %></p>
        <h6 class="card-text text-muted complete-content"><%- content %></h6>
        <% if(username){ %>
        <div>
            <a href="/update_articles/<%= article.id %>" class="card-link text-info">update</a>
            <a href="/delete_articles/<%= article.id %>" class="card-link text-info">delete</a>
        </div>
        <% } %>
    </div>
    
    </div>
</html>